#stage{
	background: #242424 url('../images/mountains.jpg') top center repeat;
}

.ct-series-a .ct-bar,.ct-series-a .ct-line,.ct-series-a .ct-point,.ct-series-a .ct-slice-donut{stroke:#d70206}
.ct-series-a .ct-area,.ct-series-a .ct-slice-pie{fill:#d70206}
.ct-series-0::before{ background-color: #d70206; }

.ct-series-b .ct-bar,.ct-series-b .ct-line,.ct-series-b .ct-point,.ct-series-b .ct-slice-donut{stroke:#048ABF}
.ct-series-b .ct-area,.ct-series-b .ct-slice-pie{fill:#048ABF}
.ct-series-1::before{ background-color: #048ABF; }

.ct-series-c .ct-bar,.ct-series-c .ct-line,.ct-series-c .ct-point,.ct-series-c .ct-slice-donut{stroke:#FFBF4A}
.ct-series-c .ct-area,.ct-series-c .ct-slice-pie{fill:#FFBF4A}
.ct-series-2::before{ background-color: #FFBF4A; }

.ct-series-d .ct-bar,.ct-series-d .ct-line,.ct-series-d .ct-point,.ct-series-d .ct-slice-donut{stroke:#76CC78}
.ct-series-d .ct-area,.ct-series-d .ct-slice-pie{fill:#76CC78}
.ct-series-3::before{ background-color: #76CC78; }

.ct-series-e .ct-bar,.ct-series-e .ct-line,.ct-series-e .ct-point,.ct-series-e .ct-slice-donut{stroke:#4691B2}
.ct-series-e .ct-area,.ct-series-e .ct-slice-pie{fill:#4691B2}
.ct-series-4::before{ background-color: #4691B2; }

.ct-series-f .ct-bar,.ct-series-f .ct-line,.ct-series-f .ct-point,.ct-series-f .ct-slice-donut{stroke:#EB4D49}
.ct-series-f .ct-area,.ct-series-f .ct-slice-pie{fill:#EB4D49}
.ct-series-5::before{ background-color: #EB4D49; }

.ct-series-g .ct-bar,.ct-series-g .ct-line,.ct-series-g .ct-point,.ct-series-g .ct-slice-donut{stroke:#FF7A36}
.ct-series-g .ct-area,.ct-series-g .ct-slice-pie{fill:#FF7A36}
.ct-series-6::before{ background-color: #FF7A36; }
