/*fonts*/
@font-face { font-family: GalaxiePolarisCondensed-Book.; src: url('/fonts/GalaxiePolarisCondensed-Book.otf'); }
@font-face { font-family: GalaxiePolarisCondensed-Bold; font-weight: bold; src: url('/fonts/GalaxiePolarisCondensed-Bold.otf'); }
@font-face { font-family: GalaxiePolarisCondensed-Light; font-weight: bold; src: url('/fonts/GalaxiePolarisCondensed-Light.otf'); }


body{
	overflow: hidden;
}

#stage{
	height: 1920px;
	width: 1080px;
	position: absolute;
	top: 0; left: 0;
}

.ct-labels span {
  color: white;
  font-size: 20px;
}

.ct-label{
	font-size: 30px;
	color: #fff;
	fill: #fff;
	font-family: GalaxiePolarisCondensed-Book;
	text-transform: uppercase;
}

.ct-grid {
      stroke: rgba(255,255,255,.5) !important;
    }

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: green;
}

.ct-chart{
/*	border: thin solid #000; */
	background: url('../images/000000-0.7.png') top left repeat;
/*	-webkit-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.75);*/

	width: 90%;
	margin: 12px auto; 
	font-family: arial, helvetica, sans-serif;
}

#bar{ height: 200px;}

#pie{ height: 400px;}

#tabledata{ height: 730px;}

#chart1{ height: 300px;}

	#chart1 .ct-label{
		font-size: 18px;
		fill: #fff;
	}

.ct-legend {
    padding: 0;
    font-family: sans-serif;
   	font-size: 30px;
   	position: relative;
   	bottom: 370px;
   	left: 100px;
   	color: #fff;
   	width: 500px;
  }
   .ct-legend li {
        position: relative;
        padding-left: 1.3em;
        margin-bottom: 0.8em;
        list-style-type: none;
        font-family: GalaxiePolarisCondensed-Book;
    }

    .ct-legend li strong{
    	font-family: GalaxiePolarisCondensed-Bold;
    	text-transform: uppercase;
    }

    .ct-legend li::before {
        height: 1em;
        width: 1em;
        position: absolute;
        top: 0.1em;
        left: 0em;
        content: '';
        border-radius: 1em;
    }

/*  .ct-series-0::before{ background-color: #d70206; }
  .ct-series-1::before{ background-color: #F05B4F; }
  .ct-series-2::before{ background-color: #F4C63D; }
  .ct-series-3::before{ background-color: #453D3F; }
  .ct-series-4::before{ background-color: #d70206; }
  .ct-series-5::before{ background-color: #d70206; }
  .ct-series-6::before{ background-color: #d70206; }
  .ct-series-7::before{ background-color: #d70206; }
  .ct-series-8::before{ background-color: #d70206; }
  .ct-series-9::before{ background-color: #d70206; }
  .ct-series-10::before{ background-color: #d70206; }*/

    /* @for $i from 0 to length($ct-series-colors) {
          .ct-series-#{$i}::before {
            background-color: nth($ct-series-colors, $i + 1);
        }
    }*/

.scoretable{
	width: 95%;
	margin: 0 auto;
	position: relative;
	top: 10px;
	color: #fff;
	font-family: GalaxiePolarisCondensed-Book;
	font-size: 35px;
	text-transform: uppercase;
}

.scoretable th{
	border-bottom: thin solid white;
	margin: 0; padding: 0;
	text-align: left;
	font-family: GalaxiePolarisCondensed-Bold;
}

.scoretable td{
	height: 72px;
	border-bottom: 1px dotted #666;
}
/*	.scoretable td.percentage{
		text-align: center;
	}*/

.section-container{
	margin: 0 auto;
	background: url('../images/000000-0.7.png') top left repeat;
	width: 90%;
	margin: 20px auto; 
	height: 200px;
}
.half-section{
	float: left;
	width: 49%;
	height: 200px;

}

h1{
	color: #fff;
	font-family: GalaxiePolarisCondensed-Bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 90px;
	line-height: 80px;	
	margin: 0 auto; 
	padding: 10px 0px 30px 0px;
}

	h1 img{
		padding: 10px 20px 0px 10px;
	}
h2{
	color: #fff;
	font-family: GalaxiePolarisCondensed-Bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 20px;

}	
	.week-total-value, .week-total-comp-value{
		display: block;
		color: #fff;
		font-family: GalaxiePolarisCondensed-Bold;
		text-align: center;
		text-transform: uppercase;
		font-size: 90px;
		line-height: 70px;
	}